/* Text */

* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2;
    text-align: justify;
}

p {
    text-indent: 60px;
}

h1 {
    text-align: center;
    line-height: 1;
}

h3 {
    margin-top: 40px;
}

#chart-title {
    text-align: center;
    font-weight: bold;
    text-indent: 0px;
}

#source {
    text-align: center;
    text-indent: 0px;
    margin-top: 0;
    color: grey;
    font-size: 10px;
}

text {
    font-size: 10px;
}


/* Visualizations */

#container {
    max-width: 800px;
    margin: 0 auto;
}

#chart { 
    width: 100%; 
}


.highlight path {
    stroke: #0a4a90;
    opacity: 1;
    stroke-width: 2;
}

.highlight text {
    fill: #0a4a90;
    opacity: 1;
    font-size: 10px
}

.svg-tooltip {
    background: rgba(69, 77, 93, .9);
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
}

.axisRed line{
    stroke: #FF1212;
}
  
.axisRed path{
    stroke: #FF1212;
}
  
.axisRed text{
    fill: #FF1212;
}


/* Toggle switch */
/* https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
    text-align: center;
    vertical-align: middle;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 1s;
    transition: 1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8.5px;
    width: 8.5px;
    left: 1.3px;
    bottom: 1.8px;
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(8.6px);
    -ms-transform: translateX(8.6px);
    transform: translateX(8.6px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#map_legend {
    margin-top: 50px
}

#map_legend svg {
    margin: 0 auto;
}